# Testing logratio transformations

In [1]:
%matplotlib inline
import geopandas as gpd
import pandas as pd
import sys

sys.path.insert(0, "..")
from eis_toolkit.transformations.logratio import _replace_zeros_with_nan_inplace, _ALR_transform

GEOCHEMICAL_DATA = "../tests/data/local/coda/IOCG_CLB_Till_Geochem_reg_511p.shp"

In [2]:
elements = ['Al_ppm_511', 'Ba_ppm_511', 'Ca_ppm_511', 'Co_ppm_511', 'Cr_ppm_511', 'Cu_ppm_511', 'Fe_ppm_511', 'K_ppm_511P', 'La_ppm_511', 'Li_ppm_511', 'Mg_ppm_511', 'Mn_ppm_511', 'Ni_ppm_511', 'P_ppm_511P', 'Sc_ppm_511', 'Sr_ppm_511', 'Th_ppm_511', 'Ti_ppm_511', 'V_ppm_511P', 'Y_ppm_511P', 'Zn_ppm_511', 'Zr_ppm_511']

In [3]:
elements_to_analyze = ['Al_ppm_511', 'Ca_ppm_511', 'Fe_ppm_511', 'Mg_ppm_511']

In [4]:
df = gpd.read_file(GEOCHEMICAL_DATA, include_fields=elements_to_analyze)
df = pd.DataFrame(df.drop(columns='geometry'))
ppm = 1e-6
df = df * ppm
_replace_zeros_with_nan_inplace(df)
df.dropna()

      Al_ppm_511  Ca_ppm_511  Fe_ppm_511  Mg_ppm_511
0        0.02760     0.04020      0.0832     0.01720
1        0.01410     0.00500      0.0283     0.00752
2        0.00788     0.00307      0.0145     0.00454
3        0.00730     0.00329      0.0146     0.00324
4        0.01250     0.00360      0.0315     0.00802
...          ...         ...         ...         ...
1107     0.01860     0.01160      0.0393     0.00879
1108     0.03340     0.00239      0.0694     0.01850
1109     0.03830     0.00407      0.0776     0.02740
1110     0.03260     0.00863      0.0693     0.01870
1111     0.01780     0.00350      0.0279     0.00735

[1112 rows x 4 columns]

In [5]:
alr_transformed = _ALR_transform(df, ['Al_ppm_511', 'Ca_ppm_511', 'Fe_ppm_511'])

In [6]:
alr_transformed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1112 entries, 0 to 1111
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Al_ppm_511  1112 non-null   float64
 1   Ca_ppm_511  1112 non-null   float64
 2   Fe_ppm_511  1112 non-null   float64
dtypes: float64(3)
memory usage: 26.2 KB

In [7]:
alr_transformed

      Al_ppm_511  Ca_ppm_511  Fe_ppm_511
0       0.472906    0.848958    1.576338
1      -0.198735   -1.235471    0.497952
2      -0.780581   -1.723232   -0.170761
3      -0.857035   -1.654022   -0.163888
4      -0.319181   -1.563976    0.605078
...          ...         ...         ...
1107    0.078252   -0.393904    0.826315
1108    0.663647   -1.973616    1.394977
1109    0.800541   -1.441266    1.506658
1110    0.639403   -0.689665    1.393536
1111    0.034289   -1.592146    0.483717

[1112 rows x 3 columns]